.btn {
  padding-left: 2.0625rem !important;
  padding-right: 2.0625rem !important;
  margin-left: auto;
}

.name {
  margin-left: auto;
}

.user {
  display: flex;
  align-items: center;
  margin-left: auto;
  gap: 20px;
}
