.section {
  height: 100%;
  background: var(--body);
  display: flex;
  justify-content: center;
  align-items: center;

  @media screen and (max-width: 570px) {
    background: var(--bg);
    align-items: baseline;
    padding-top: 80px;
  }
}

.container {
  @media screen and (max-width: 570px) {
    padding: 0;
  }
}