.section {
  height: 100%;
  background: var(--body);
  display: flex;
  justify-content: center;
  align-items: center;

  @media screen and (max-width: 530px) {
    background: var(--bg);
    align-items: baseline;
  }
}

