.input {
  position: relative;
  display: flex;
  align-items: center;
  gap: 0.625rem;
  border: 1px solid var(--stroke-grey);
  border-radius: var(--border-radius);
  padding: 0.75rem 1.281875rem 0.75rem 1.243125rem;
  height: 3.125rem;
  
  &_textarea {
    height: auto;

    @media screen and (max-width: 570px) {
      textarea {
        height: 260px;
      }
    }
  }

  &_slug {
    padding-left: 166px;
  }

  svg {
    flex: none;
  }

  &_focused {
    border-color: var(--stroke-grey-active);

  }
}

.error {
  position: absolute;
  bottom: 1px;
  left: 0;
  width: 100%;
  text-align: center;
  font-size: 0.8rem;
}

.eye {
  cursor: pointer;

  &:hover {
    path {
      fill: #000;
    }
  }
}

.slug {
  position: absolute;
  left: 0;
  display: flex;
  align-items: center;
  color: var(--text-grey);
  background: var(--body);
  padding: 0.75rem 1.25rem;
  border-right: 1px solid var(--stroke-grey);
  border-radius: var(--border-radius) 0 0 var(--border-radius);
  height: 100%;
}
